<section class="hero-section">
  <img src="{{ 'main-visual.jpg' | asset_url }}" alt="Main Visual" class="hero-image" />
</section>

<section class="main-links">
  <div class="link-box">
    <a href="/pages/2025-spring-summer">2025 SPRING / SUMMER</a>
  </div>
  <div class="link-box">
    <a href="/pages/2025-autumn-winter">2025 AUTUMN / WINTER</a>
  </div>
  <div class="link-box">
    <a href="/pages/collection">COLLECTION</a>
  </div>
  <div class="link-box">
    <a href="/pages/collaboration">COLLABORATION</a>
  </div>
</section>
